<!-- servicios.html-->
{% extends "base.html" %}

{% block content %}
    <h1>Servicios</h1>
    <p>Nuestros servicios van desde la venta de autos y repuestos, asi como el mantenimiento y reparacion de autos.</p>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <img src="/static/img/2.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <img src="/static/img/1.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    